* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 400px;
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vvh;
  background: rgb(4, 90, 4);
}
svg {
  position: absolute;
  width: 400px;
  fill: none;
}
svg:nth-child(2) {
  filter: blur(4px);
}
svg path {
  d: path("M0,25 C150,110 150,-60 300,25");
  stroke-width: 50;
  stroke: blue;
  stroke-width: 50;
  stroke-width: 50;
  stroke-linecap:round;
  transform: translate(50px, 50%);
  animation: animate 2s ease-in-out infinite;
}

@keyframes animate {
  0% {
    stroke: #ff0092;
    d: path("M0,25 C150,110 150,-60 300,25");
  }
  50% {
    stroke: #00ff92;
    d: path("M0,25 C150,110 150,-60 300,25");
  }
}
